---
import FrontView from "~/layouts/FrontView.astro";
import PageBreak from "~/components/PageBreak.astro";
import ContentBox from "~/components/ContentBox.astro";
import LinkBox from "~/components/LinkBox.astro";
---

<FrontView title="About">
    <PageBreak title="About" />
    <ContentBox>
        <p class="text-gray-300">
            Hello! My username is Hri7566. I am a hobbyist software developer.
            I make websites and miscellaneous apps. I write most of my projects
            in TypeScript and C.
        </p>
        <br />
        <p class="text-gray-300">
            If you would like to talk about job opportunities or just want to
            reach out, you can contact me on Discord. You can try my Gmail or
            Twitter, but I don't check those as often. I check Discord just
            about hourly, so that's why I suggest it. Also, I tend to reply to
            a lot of YouTube comments within a day or two. If you have my phone
            number, texting me would be adequate.
        </p>
        <br />
        <p class="text-gray-300">
            I'm a major contributor (debatably) to Multiplayer Piano and MPP.net
            and have created hundreds of scripts and projects centered around it,
            though most are deprecated and experimental. You can read more these
            ventures <a href="https://github.com/Hri7566/mppclone">here</a>.
        </p>
    </ContentBox>

    <PageBreak title="Accounts" />
    <div class="mx-5 my-3 grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3">
        <LinkBox title="GitHub" href="https://github.com/Hri7566">
            Hri7566
        </LinkBox>
        <LinkBox title="ð•" href="https://twitter.com/Hri7566">@Hri7566</LinkBox>
        <LinkBox title="Discord">@hri7566</LinkBox>
        <LinkBox title="GitLab" href="https://gitlab.com/Hri7566">
            @Hri7566 | User ID: 2294970
        </LinkBox>
        <LinkBox
            title="git.hri7566.info"
            href="https://git.hri7566.info/Hri7566"
        >
            Hri7566
        </LinkBox>
        <LinkBox title="Gmail" href="mailto:hri7566@gmail.com">
            hri7566@gmail.com
        </LinkBox>
        <LinkBox title="Odysee" href="https://odysee.com/@hri7566:6">
            @hri7566
        </LinkBox>
        <LinkBox title="YouTube" href="https://youtube.com/hri7566">
            @hri7566
        </LinkBox>
        <LinkBox title="MPP.net IDs">
            ead940199c7d9717e5149919 a2516b4d88f22b45056f270b
            85da6b358674e720efa05b71 8d3f507eecf7f8f2b0ae3479
            2ffc3744fbc1bc6c6ef4a330 5fd68beb48a7cca92bc536c0
            7c3dd7742c7a7493a04ddbd2
        </LinkBox>
    </div>

    <PageBreak title="FAQ" />
    <ContentBox>
        <strong class="text-gray-300 font-bold text-lg"
            >Q: What is this "MPP" thing you keep talking about?</strong
        >
        <p class="text-gray-300">
            It's a <a href="https://multiplayerpiano.net">website</a> I made a
            lot of scripts for in the past. It's an online piano in the corner
            of the internet that interesting people used to be in.
            <a href="/info/mpp"> More info here.</a>
        </p>
        <br />

        <strong class="text-gray-300 font-bold text-lg"
            >Q: Why is your MPP server down?</strong
        >
        <p class="text-gray-300">A: It goes down a lot, it's old and buggy and it's hosted in germany.</p>
        <br />

        <strong class="text-gray-300 font-bold text-lg"
            >Q: What does your username mean?</strong
        >
        <p class="text-gray-300">
            A: I'm not the one who made the first account with that name, but I
            knew the guy who did. He's not around anymore. It had something to
            do with the human resources department for the company he used to
            work for.
        </p>
        <br />

        <strong class="text-gray-300 font-bold text-lg"
            >Q: What games do you play?</strong
        >
        <p class="text-gray-300">
            A: A lot of Minecraft, Nintendo games, and whatever is in <a href="https://steamcommunity.com/id/hri7">my steam library</a>.
        </p>
        <br />

        <strong class="text-gray-300 font-bold text-lg"
            >Q: I'm from SC3. What do you do on there?</strong
        >
        <p class="text-gray-300">A: I own <a href="https://xcl.hri7566.info">XCL</a>, which owns XNL, which owned Femcorp at one point.</p>
        <br />

        <strong class="text-gray-300 font-bold text-lg"
            >Q: What happened to the background on this site?</strong
        >
        <p class="text-gray-300">
            A: It was suggested by a few people that I remove it. I like the
            darkness, anyways.
        </p>
        <br />

        <strong class="text-gray-300 font-bold text-lg"
            >Q: I'm part of your family and you sent a link to me. What is this
            stuff?</strong
        >
        <p class="text-gray-300">A: It's what I do in my free time.</p>
        <br />

        <strong class="text-gray-300 font-bold text-lg"
            >Q: What runs this website?</strong
        >
        <p class="text-gray-300">
            A: <a href="https://astro.build">Astro</a>
        </p>
    </ContentBox>

    <div class="py-10"></div>
</FrontView>
