---
import Front from "~/layouts/FrontView.astro";
import PageBreak from "~/components/PageBreak.astro";
import LinkBox from "~/components/LinkBox.astro";
---

<Front title="Hri7566">
	<PageBreak title="Links"/>
	<!-- <p class="text-white">test</p> -->
	<LinkBox title="bruh" />
</Front>
