---
import Front from "~/layouts/FrontView.astro";
import PageBreak from "~/components/PageBreak.astro";
import Project from "~/components/Project.astro";
---

<Front title="hri7566">
    <div class="text-lg my-3 text-gray-50 mx-3">
        <p>
            I'm hri7566 (or Ethan) and I develop websites and greater computer
            experiences for daring adventurers of the internet. Mainly, I
            specialize in the imagination-driven side of projects, but I also
            invent logical solutions from time to time.
        </p>
        <PageBreak>Projects</PageBreak>
        <Project title="Fishing Bot" url="https://fishing.hri7566.info">
            A text-based fishing game for bored people.
        </Project>
        <Project title="FB2" url="https://fb.hri7566.info">
            A strategy-based team-centric modded Minecraft server.
        </Project>
        <Project
            title="Skyrim Mouse Locker"
            url="https://github.com/Hri7566/SkyrimMouseLocker"
        >
            A utility that constrains the cursor to one monitor while playing
            Skyrim.
        </Project>
        <Project title="BadPaint" url="https://github.com/Hri7566/BadPaint">
            A terrible paint program made as a final project for CS50, a CS
            course at Harvard University.
        </Project>
    </div>
</Front>
