---
import Front from "~/layouts/FrontView.astro";
import PageBreak from "~/components/PageBreak.astro";
import LinkBox from "~/components/LinkBox.astro";
---

<Front title="Hri7566">
    <PageBreak title="Links" />
    <div class="sm:ml-auto sm:mr-auto lg:w-1/2 sm:items-center">
        <div id="links" class="mx-auto my-3 grid grid-cols-1 items-center justify-evenly sm:flex sm:mx-5">
            <LinkBox title="Gitea" href="https://git.hri7566.info" center />
            <LinkBox title="Hri's MPP" href="https://mpp.hri7566.info" center />
            <LinkBox title="Multiplayer Piano Wiki" href="https://wiki.hri7566.info" center />
            <LinkBox title="XCL" href="https://xcl.hri7566.info" center />
            <LinkBox title="MPP User Archive" href="https://archive.hri7566.info" center />
            <LinkBox title="Neocities" href="https://hri7566.neocities.org" />
        </div>
    </div>

    <PageBreak title="Socials" />
    <div class="sm:ml-auto sm:mr-auto lg:w-1/2 sm:items-center">
        <div
            id="socials"
            class="mx-auto my-3 grid grid-cols-1 items-center justify-evenly sm:flex sm:mx-5"
        >
            <LinkBox
                title="GitHub"
                href="https://github.com/Hri7566"
                center
                color="#e6edf3"
            />
            <LinkBox
                title="GitLab"
                href="https://gitlab.com/Hri7566"
                center
                color="#6e5ac0"
            />
            <LinkBox
                title="Gitea"
                href="https://git.hri7566.info/Hri7566"
                center
                color="#ff9900"
            />
            <LinkBox
                title="ð•"
                href="https://twitter.com/Hri7566"
                center
                color="#1a8cd8"
            />
            <LinkBox
                title="YouTube"
                href="https://youtube.com/hri7566"
                center
                color="#ff0000"
            />
            <LinkBox
                title="Odysee"
                href="https://odysee.com/@hri7566:6"
                center
                color="#a60a43"
            />
        </div>
    </div>

    <PageBreak title="My Projects" />
    <div class="sm:ml-auto sm:mr-auto sm:w-3/4">
        <div
            id="projects"
            class="mx-5 my-3 grid grid-cols-1 pb-20 sm:grid-cols-2 xl:grid-cols-4"
        >
            <LinkBox title="cc-ts" href="https://github.com/Hri7566/cc-ts">
                A template for using TypeScript and roblox-ts with
                ComputerCraft.
            </LinkBox>
            <LinkBox title="XCL" href="https://xcl.hri7566.info">
                My in-game science and engineering company based around the <a
                    href="https://sc3.io">SwitchCraft 3</a
                > Minecraft server. Probably not a real company yet.
            </LinkBox>
            <LinkBox
                title="BadPaint"
                href="https://github.com/Hri7566/BadPaint"
            >
                The worst paint program I have ever made. Coincidentally, it's
                also the only paint program I have ever made.
            </LinkBox>
            <LinkBox
                title="Singleplayer Piano"
                href="https://singleplayerpiano.com"
            >
                Tired of using Multiplayer Piano only to find other people are
                frustrating you? Introducing the same website but not connected
                to a server.
            </LinkBox>
            <LinkBox
                title="Skyrim Mouse Locker"
                href="https://github.com/Hri7566/SkyrimMouseLocker"
            >
                I finally felt fed up with the stupid Skyrim multi-monitor
                cursor bug so I did the most simple thing I could do to mitigate
                it.
            </LinkBox>
            <LinkBox
                title="mpp-hats"
                href="https://github.com/the-dev-channel/mpp-hats"
            >
                Custom hats script for MPP. Hat textures made by yours truly.
            </LinkBox>
            <LinkBox
                title="mpp-user-archive"
                href="https://github.com/Hri7566/mpp-user-archive"
            >
                Multiplayer Piano user info database service monorepo
            </LinkBox>
            <LinkBox title="SuperCosmic" href="https://git.hri7566.info/Hri7566/supercosmic">
                Chat bot for Discord and MPP. There used to be baking in the old version, it might come back some day.
            </LinkBox>
            <LinkBox title="HMPP" href="https://mpp.hri7566.info">
                A clone of Multiplayer Piano with a completely original backend
                server with a fresh style.
            </LinkBox>
            {
                /* <LinkBox title="Khorne Bot" color="#900000">
				Discord bot in collaboration with Khorne. Closed
				source and currently under development.
			</LinkBox> */
            }
            <LinkBox title="MPP.net" href="https://github.com/Hri7566/mppclone">
                I made major contributions to this site's development over the
                years, even if it wasn't through code.
            </LinkBox>
            {
                /* <LinkBox
				title="Super Mario 64 in a Browser"
				href="https://mario.hri7566.info"
			>
				Mirror of BopItFreak's Mario site. Give it a minute
				to load. Audio doesn't like to work sometimes.
			</LinkBox> */
            }
        </div>
    </div>
</Front>
