---
import Front from "~/layouts/FrontView.astro";
import PageBreak from "~/components/PageBreak.astro";
import LinkBox from "~/components/LinkBox.astro";
---

<Front title="Hri7566">
	<PageBreak title="Links" />
	<div class="sm:ml-auto sm:mr-auto lg:w-1/2 sm:items-center">
		<div
			id="links"
			class="mx-5 my-3 grid grid-cols-1 items-center justify-evenly sm:flex"
		>
			<LinkBox
				title="GitHub"
				href="https://github.com/Hri7566"
				center
				// color="#ffffff"
			/>
			<LinkBox
				title="GitLab"
				href="https://gitlab.com/Hri7566"
				center
				// color="#ffffff"
			/>
			<LinkBox
				title="Twitter"
				href="https://twitter.com/Hri7566"
				center
				// color="#ffffff"
			/>
			<LinkBox
				title="YouTube"
				href="https://youtube.com/hri7566"
				center
				// color="#ffffff"
			/>
			<LinkBox
				title="Odysee"
				href="https://odysee.com/@hri7566:6"
				center
				// color="#ffffff"
			/>
		</div>
	</div>

	<PageBreak title="Projects" />
	<div class="sm:ml-auto sm:mr-auto sm:w-2/3">
		<div
			id="projects"
			class="mx-5 my-3 grid grid-cols-1 pb-20 xl:grid-cols-2"
		>
			<LinkBox
				title="mpp-user-archive"
				href="https://github.com/Hri7566/mpp-user-archive"
			>
				Multiplayer Piano database service monorepo. This
				project took over a month to make.
			</LinkBox>
			<LinkBox
				title="Cosmic"
				href="https://github.com/Hri7566/cosmic"
				// color="#1d0054"
			>
				Bot for Discord and MPP. Lots of baking involved.
			</LinkBox>
			<LinkBox
				title="mpp.hri7566.info"
				href="https://mpp.hri7566.info"
				// color="#8d3f50"
			>
				A clone of Multiplayer Piano with a completely
				original backend server with a fresh style.
			</LinkBox>
			{/* <LinkBox title="Khorne Bot" color="#900000">
				Discord bot in collaboration with Khorne. Closed
				source and currently under development.
			</LinkBox> */}
			<LinkBox
				title="MPPClone Frontend"
				href="https://github.com/LapisHusky/mppclone"
			>
				I made some contributions to this site, such as the
				ability to hide cursors.
			</LinkBox>
			{/* <LinkBox
				title="Super Mario 64 in a Browser"
				href="https://mario.hri7566.info"
			>
				Mirror of BopItFreak's Mario site. Give it a minute
				to load. Audio doesn't like to work sometimes.
			</LinkBox> */}
		</div>
	</div>
</Front>
