---
import Front from "~/layouts/FrontView.astro"; import PageBreak from "~/components/PageBreak.astro";
import LinkBox from "~/components/LinkBox.astro";
---

<Front title="Hri7566">
    <!-- <PageBreak title="Links" />
    <div class="sm:ml-auto sm:mr-auto lg:w-1/2 sm:items-center">
        <div id="links" class="mx-auto my-3 grid grid-cols-1 items-center justify-evenly sm:flex sm:mx-5">
            <LinkBox title="My Gitea Server" href="https://git.hri7566.info" center />
            <LinkBox title="My Old MPP Server" href="https://mpp.hri7566.info" center />
            <LinkBox title="My Other MPP Server" href="https://www.multiplayerpiano.dev" center />
            <LinkBox title="Multiplayer Piano Wiki" href="https://wiki.hri7566.info" center />
            <LinkBox title="XCL" href="https://xcl.hri7566.info" center />
            { /* <LinkBox title="MPP User Archive" href="https://archive.hri7566.info" center /> */ }
            <LinkBox title="My Funny Neocities" href="https://hri7566.neocities.org" />
        </div>
    </div> -->

    <PageBreak title="Socials" />
    <div class="sm:ml-auto sm:mr-auto lg:w-1/2 sm:items-center">
        <div
            id="socials"
            class="mx-auto my-3 grid grid-cols-1 items-center justify-evenly sm:flex sm:mx-5"
        >
            <LinkBox
                title="GitHub"
                href="https://github.com/Hri7566"
                center
                color="#e6edf3"
            />
            <LinkBox
                title="GitLab"
                href="https://gitlab.com/Hri7566"
                center
                color="#6e5ac0"
            />
            <!-- <LinkBox
                title="Gitea"
                href="https://git.hri7566.info/Hri7566"
                center
                color="#ff9900"
            /> -->
            <LinkBox
                title="Bandcamp"
                href="https://hri7566.bandcamp.com/"
                center
                color="#4992a7"
            />
            <LinkBox
                title="YouTube"
                href="https://youtube.com/hri7566"
                center
                color="#ff0000"
            />
            <LinkBox
                title="ð•"
                href="https://twitter.com/Hri7566"
                center
                color="#1a8cd8"
            />
            <!--
            <LinkBox
                title="Odysee"
                href="https://odysee.com/@hri7566:6"
                center
                color="#a60a43"
            />
            -->
        </div>
    </div>

    <PageBreak title="My Projects" />
    <div class="sm:ml-auto sm:mr-auto sm:w-3/4">
        <div
            id="projects"
            class="mx-5 my-3 grid grid-cols-1 pb-20 sm:grid-cols-2 xl:grid-cols-3"
        >
            <LinkBox title="mpp-server-dev2" href="https://git.hri7566.info/Hri7566/mpp-server-dev2">
                A completely rewritten MPP server built from the ground up. This is
                going to be the new server for MPP.dev, a separate MPP server that
                I run for 
            </LinkBox>
            <LinkBox title="MPP.net" href="https://multiplayerpiano.net">
                As a frequent user, contributor, and, as of recently, an
                administrator, I have made good contributions to this site's
                development over the years, not just including code
                contributions and bug fixes, but also content creation and
                open-source packages for the community.
            </LinkBox>
            <LinkBox title="MPP.dev" href="https://multiplayerpiano.net">
                In recent years, MPP has become quite bloated with bots all
                over the site. Now, I'm taking it upon myself to dedicate an
                entire site to it.
            </LinkBox>
            <LinkBox
                title="mpp-hats"
                href="https://github.com/Hri7566/hats"
            >
                Wearable hats for MultiplayerPiano.net.
            </LinkBox>
            <LinkBox
                title="Singleplayer Piano"
                href="https://singleplayerpiano.com"
            >
                Tired of other people bothering you on Multiplayer Piano? This
                is probably my biggest waste of resources.
            </LinkBox>
            <LinkBox title="cc-ts" href="https://github.com/Hri7566/cc-ts">
                A template for using TypeScript and roblox-ts with
                ComputerCraft. This speeds up development time by a lot,
                if you're using TypeScript for everything like me.
            </LinkBox>
            <LinkBox title="XCL" href="https://xcl.hri7566.info">
                My in-game science and engineering company based around the <a
                    href="https://sc3.io">SwitchCraft 3</a
                > Minecraft server. This is not a real company, only
                a group/hobby project that exists in the game.
            </LinkBox>
            <LinkBox
                title="BadPaint"
                href="https://github.com/Hri7566/BadPaint"
            >
                The worst paint program I have ever made. Coincidentally, it's
                also the only paint program I have ever made, so it's also the best.
            </LinkBox>
            <LinkBox
                title="Skyrim Mouse Locker"
                href="https://github.com/Hri7566/SkyrimMouseLocker"
            >
                I went out of my way and fixed a stupid Skyrim cursor bug with an external program.
            </LinkBox>
            {
                /* <LinkBox
				title="Super Mario 64 in a Browser"
				href="https://mario.hri7566.info"
			>
				Mirror of BopItFreak's Mario site. Give it a minute
				to load. Audio doesn't like to work sometimes.
			</LinkBox> */
            }
        </div>
    </div>
</Front>
