---
const currentYear = new Date().getUTCFullYear();
---

<footer class="fixed bottom-0 z-20 w-full backdrop-blur-sm">
    <div
        class="p-4 text-lg text-gray-50 mx-auto w-full max-w-screen-xl border-t border-[#ffffff10] shadow-lg"
    >
        &copy; Hri7566 {currentYear} All rights reserved
    </div>
</footer>
