<div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
</div>

<style>
    .hamburger {
        @apply cursor-pointer mt-5 mr-3;
    }

    .line {
        @apply block w-5 h-0.5 mb-1.5 bg-[#ffffff] rounded-3xl;
    }
</style>
